.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
  color: rgba(19, 22, 21, 0.233);
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #a24657;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(12, 12, 12);
}

.App-link {
  color: #0b0b0b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.a{
  color: rgb(9, 8, 8);
  font-weight: 300;
   font-style:inherit;
}
.h{
  color:rgba(12, 11, 11, 0.711);
}
